/* General Styles */
body {
    background: #008631;
    font-family: 'Kumbh Sans', sans-serif;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    flex-direction: column;
}

/* Weather Container */
#weather-container {
    background: #fff;
    width: 400px;
    padding: 28px 32px;
    overflow: hidden;
    border-radius: 18px;
    transition: 0.6s ease-out;
    text-align: center;
}

/* Dark Mode */
.dark-mode {
    background-color: #121212;
    color: white;
}

/* Headings */
h2, label, p {
    color: #fff;
    margin: 8px 0;
}

/* Input Fields */
input {
    width: calc(100% - 16px);
    padding: 8px;
    box-sizing: border-box;
    border-radius: 10px;
    border: 1px solid white;
    margin-top: 20px;
    background: #fff;
    color: #333;
}

/* Buttons */
button {
    background: #debff4;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    margin-top: 20px;
    width: 100px;
    font-size: 15px;
    transition: background 0.3s ease;
}

button:hover {
    background: #41dc8e;
}

/* Logout Button */
#logout-button {
    position: fixed;
    top: 10px;
    right: 10px;
    padding: 10px 20px;
    background-color: #ff4c4c;
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#logout-button:hover {
    background-color: #ff1a1a;
}

/* Dark Mode Button */
#dark-mode-toggle {
    position: fixed;
    top: 10px;
    left: 10px;
    background-color: #333;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;
    transition: background-color 0.3s ease;
}

.dark-mode #dark-mode-toggle {
    background-color: #fff;
    color: #333;
}

/* Weather Data Styling */
#temp-div p {
    font-size: 60px;
    margin-top: -30px;
}

#weather-info {
    font-size: 20px;
}

/* Weather Icon */
#weather-icon {
    width: 100px;
    height: 100px;
    margin: 0 auto 10px;
    display: none;
}

/* Hourly Forecast */
#hourly-forecast {
    margin-top: 20px;
    display: flex;
    justify-content: start;
    overflow-x: auto;
    white-space: nowrap;
    background: rgba(255, 255, 255, 0.2);
    padding: 10px;
    border-radius: 10px;
}

.hourly-item {
    flex: 0 0 auto;
    width: 80px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 10px;
    color: white;
    background: rgba(0, 0, 0, 0.2);
    padding: 5px;
    border-radius: 8px;
}

.hourly-item img {
    width: 40px;
    height: 40px;
    margin-bottom: 5px;
}

#hourly-heading {
    color: #fff;
    margin-top: 10px;
}


